<div class="container mt-2">
  <div>
    <h2>Lizenzen</h2>
  </div>
  <div class="mb-2" style="cursor: pointer" (click)="onAddLicence()">
    <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i> Lizenz hinzufügen
  </div>

  <ejs-grid
    #grid
    [allowResizing]="true"
    [allowExcelExport]="true"
    [pageSettings]="{pageSize: 10}"
    [toolbar]="['ExcelExport', 'Search']"
    (toolbarClick)="toolbarClick($event)"
    [dataSource]="licences">
    <e-columns>
      <e-column field="licenceName" headerText="Lizenz" textAlign="left" width="120"></e-column>
      <e-column field="userName" headerText="Inhaber" textAlign="left" width="120"></e-column>
      <e-column field="creatorName" headerText="Aussteller" textAlign="left" width="120"></e-column>
      <e-column field="startDate" headerText="Gültig von:" textAlign="left" width="120" type="date" [format]="formatOptions"></e-column>
      <e-column field="endDate" headerText="Gültig bis:" textAlign="left" width="120" type="date" [format]="formatOptions"></e-column>
      <e-column field="paid" headerText="Bezahlt" textAlign="left" width="120" [displayAsCheckBox]="true"></e-column>
    </e-columns>
  </ejs-grid>
</div>
