<div class="container mt-4">
  <h1>Aufseher Bereich</h1>
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Users</mat-label>
      <input type="text"
             placeholder="User"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSelectChange($event)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.firstName}} {{option.lastName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <ng-container *ngIf="userId">
    <app-user-card [userId]="userId"></app-user-card>

  </ng-container>
  <ng-container *ngIf="licences">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th scope="col">Lizenzname</th>
        <th scope="col">Ausgestellt durch</th>
        <th scope="col">Gültig von</th>
        <th scope="col">Gültig bis</th>
        <th scope="col">Abgelaufen</th>
        <th scope="col">Statistik</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let licence of licences">
        <td>{{licence.licenceName}}</td>
        <td>{{licence.creatorName}}</td>
        <td>{{licence.startDate | date: 'dd.MM.yyyy HH:mm'}}</td>
        <td>{{licence.endDate | date: 'dd.MM.yyyy HH:mm'}}</td>
        <td>{{!(currentDate | amIsBefore:licence.endDate:'hour') ? 'Ja' : 'Nein'}}</td>
        <td><i (click)="onStatistic(licence.licenceId)" class="fa fa-bar-chart" aria-hidden="true" style="cursor: pointer"></i></td>
      </tr>
      </tbody>
    </table>
  </ng-container>
</div>
