<ng-container *ngIf="statistic && fishingClub">
  <h1 mat-dialog-title>Neuer Statistik Eintrag</h1>
  <mat-dialog-content>
    <form [formGroup]="statisticForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="day">Tag</label>
          <input id="day" type="text" formControlName="day" class="form-control" readonly>
        </div>
        <div class="form-group col-md-6">
          <label for="month">Monat</label>
          <input id="month" type="text" formControlName="month" class="form-control" readonly>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="hour">Stunden</label>
          <select id="hour" formControlName="hour" class="form-control">
            <option *ngFor="let hour of hours" [ngValue]="hour">{{hour}}</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="minutes">Minuten</label>
          <select id="minutes" formControlName="minutes" class="form-control">
            <option *ngFor="let minute of minutes" [ngValue]="minute">{{minute}}</option>
          </select>
        </div>
      </div>
      <hr>
      <ng-container formArrayName="fishSpecies">
        <div *ngFor="let f of fishSpecies.controls; let i=index">
          <ng-container [formGroupName]="i">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="fish">Fischart</label>
                <select
                  id="fish"
                  formControlName="fish"
                  [ngClass]="{
                  'is-invalid': fishSpecies.controls[i].get('fish').invalid &&
                  (fishSpecies.controls[i].get('fish').dirty || fishSpecies.controls[i].get('fish').touched),
                  'is-valid': fishSpecies.controls[i].get('fish').valid
                  }"
                  class="form-control">
                  <option *ngFor="let item of fish" [ngValue]="item">{{item}}</option>
                  <option [ngValue]="'other'">Andere</option>
                </select>
                <div class="invalid-feedback"
                     *ngIf="fishSpecies.controls[i].get('fish').errors &&
                 (fishSpecies.controls[i].get('fish').dirty || fishSpecies.controls[i].get('fish').touched)">
                  <p *ngIf="fishSpecies.controls[i].get('fish').errors.required">Fischart ist ein Pflichtfeld</p>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="number">Anzahl</label>
                <input
                  id="number"
                  min="1"
                  type="number"
                  formControlName="number"
                  [ngClass]="{
                  'is-invalid': fishSpecies.controls[i].get('number').invalid &&
                  (fishSpecies.controls[i].get('number').dirty || fishSpecies.controls[i].get('number').touched),
                  'is-valid': fishSpecies.controls[i].get('number').valid
                  }"
                  class="form-control">
                <div class="invalid-feedback"
                     *ngIf="fishSpecies.controls[i].get('number').errors &&
                 (fishSpecies.controls[i].get('number').dirty || fishSpecies.controls[i].get('number').touched)">
                  <p *ngIf="fishSpecies.controls[i].get('number').errors.required">Anzahl ist ein Pflichtfeld</p>
                </div>
              </div>
            </div>
            <button (click)="onCatchRemove(i)" class="btn btn-outline-danger">{{f.get('fish').value}} entfernen</button>
            <div class="form-group" *ngIf="f.get('fish').value === 'other'">
              <label for="other">Fischart</label>
              <input id="other" type="text" formControlName="other" class="form-control">
              <small class="form-text text-muted">Wenn anderer Fisch bitte Fischart eintragen</small>
            </div>
            <hr>
          </ng-container>
        </div>
      </ng-container>
      <button type="button" (click)="addFish()" class="btn btn-info">Fang hinzufügen</button>
      <div class="d-flex justify-content-between mt-4">
        <button (click)="onClose()" type="button" class="btn btn-danger">Abbrechen</button>
        <button [disabled]="statisticForm.invalid || !statisticForm.dirty" type="submit" class="btn btn-success">
          Speichern
        </button>
      </div>
    </form>
  </mat-dialog-content>
</ng-container>
