<div class="container mt-2">
  <div>
    <h2>Regeln bearbeiten</h2>
  </div>
  <ng-container *ngIf="clubForm">
    <form [formGroup]="clubForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="externRules">Vorschriften Link (optional)</label>
        <input type="url" class="form-control is-valid" id="externRules" formControlName="externRuleUrl">
      </div>
      <ng-container formArrayName="rules">
        <div *ngFor="let f of rules.controls; let i=index">
          <ng-container [formGroupName]="i">
            <div class="form-group">
              <label for="rule">Regel</label>
              <textarea
                class="form-control"
                [ngClass]="{
                  'is-invalid': rules.controls[i].get('rule').invalid &&
                  (rules.controls[i].get('rule').dirty || rules.controls[i].get('rule').touched),
                  'is-valid': rules.controls[i].get('rule').valid
                  }"
                id="rule"
                rows="3"
                required
                formControlName="rule">
                </textarea>
              <div class="invalid-feedback"
                   *ngIf="rules.controls[i].get('rule').errors &&
                 (rules.controls[i].get('rule').dirty || rules.controls[i].get('rule').touched)">
                <p *ngIf="rules.controls[i].get('rule').errors.required">Regel ist ein
                  Pflichtfeld</p>
              </div>
            </div>
            <button class="btn btn-outline-danger" type="button" (click)="onRemoveRule(i)">Regel Entfernen</button>
            <hr>
          </ng-container>
        </div>
      </ng-container>
      <button class="btn btn-info mb-2" type="button" (click)="onAddRule()">Regel hinzufügen</button>
      <div class="d-flex justify-content-end mb-4">
        <button [disabled]="clubForm.invalid" type="submit" class="btn btn-success">Speichern</button>
      </div>
    </form>
  </ng-container>
</div>

