.buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 510px) {
  .buttons {
    flex-direction: column;
  }

  #changePassword {
    margin-bottom: 20px;
  }
}
