<h1 mat-dialog-title>Passwort vergsessen</h1>
<mat-dialog-content>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPassword()">
    <div class="form-group">
      <label for="email">E-Mail</label>
      <input
        id="email"
        class="form-control"
        [ngClass]="{
        'is-invalid': forgotPasswordForm.controls.email.invalid &&
        (forgotPasswordForm.controls.email.dirty || forgotPasswordForm.controls.email.touched),
        'is-valid': forgotPasswordForm.controls.email.valid
        }"
        formControlName="email">
      <div class="invalid-feedback"
           *ngIf="forgotPasswordForm.controls.email.errors &&
           (forgotPasswordForm.controls.email.dirty || forgotPasswordForm.controls.email.touched)">
        <p *ngIf="forgotPasswordForm.controls.email.errors.required">E-Mail ist ein Pflichtfeld</p>
        <p *ngIf="forgotPasswordForm.controls.email.errors.pattern">Ungültige E-Mail</p>
      </div>
    </div>
    <button [disabled]="forgotPasswordForm.invalid || !forgotPasswordForm.dirty" type="submit" class="btn btn-success">
      Absenden
    </button>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Schliessen</button>
</mat-dialog-actions>
